body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-size: 40px;
}
h2{
    color: white;
    text-align: center;
}
h3{
    color: white;
}
p{
    color: white;
    text-align: center;
}
li{
    color: white;
}
a{
    text-align: center;
}
a:link {
    color: blue;
}
a:visited {
    color: red;
}
a:hover {
color: deepskyblue;
}

nav {background-color:darkblue;
display:flex;
}

nav > img.photo {
max-width:200px;
flex:1;
}
 
nav > ul.menuB {
list-style-type: none;
flex:9;
}
nav ul.menuB li {
  display:inline;
  font-size: 3vw;
  padding-bottom:30vw;
  text-align:center;
}
body section.gallery {
    width: 90%;
    background-color:darkblue; 
    padding:2em; 
    margin:auto; 
    display:flex;
    flex-direction:row;
}





